@{ 
    ViewBag.Title = "Index"; 
}
<h2>Index</h2>
@Html.ActionLink("HtmlHelpers.cshtml", "HtmlHelpers", "Gamers")
<br />
@Html.ActionLink("Dropdownlist.cshtml", "Dropdownlist", "Gamers")
<br />
@Html.ActionLink("TextBox.cshtml", "TextBox", "Gamers")
<br />
@Html.ActionLink("TextBoxFor.cshtml", "TextBoxFor", "Gamers")
<br />
@Html.ActionLink("Radiobuttonlist.cshtml", "Radiobuttonlist", "Gamers")
<br />
@Html.ActionLink("CheckBoxList.cshtml", "CheckBoxList", "Gamers")
<br />
@Html.ActionLink("ListBox.cshtml", "ListBox", "Gamers")
<br />
